.about{
    background-color: #1C1A19;
    padding: 5%;
    background-image: url("/src/img/mabout.webp");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 430px;
}

.about-top{
    border-bottom: 1px solid #DBD8D7;
    height: 105vh;
}

.about-hello{
    color: #fff;
    font-weight: 400;
    font-size: 16px !important;
    margin-bottom: 20px;
}

.about-header{
    color:#FF6B00;
    font-weight: 400;
    font-size: 72px !important;
    margin-bottom: 50px;
}

.resume{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 153px;
    color: #fff;
    font-weight: 400;
    font-size: 17px !important;
    margin-bottom: 50px;
}

.about-bottom{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.list li{
    font-size: 22px !important;
    font-weight: 400;
}

.Languages, .Frameworks, .Skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
} 

.img-size{
    height: 90%;
}

.about-bottom-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-top: 20px;
}

.about-bottom-header h2{
    font-weight: 700;
    font-size: 32px !important;
}

@media screen and (min-width: 769px) {
    .about{
        background-image: url("/src/img/about.webp");
        background-size: 50% 40%;
        background-position-x: right;
        background-position-y: 60px;
    }

    .about-top{
        height: 87vh;
    }
    .about-bottom{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 1%;
    }

    .about-bottom ul{
        align-items: flex-start;
    }
    
    .Languages, .Frameworks, .Skills{
        align-items: flex-start;
        gap: 2%;
    }

    .about-hello{
        font-size: 20px !important;
        width: 45%
    }
}