.contact{
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
}

.contact-par{
    text-align: center;
    font-weight: 700;
    font-size: 32px !important;
    margin-bottom: 70px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-bottom{
    display: flex;
    justify-content: center;
    gap: 1%;
    border-top: 1px solid #DBD8D7;
    padding-top: 15px;
    padding-bottom: 25px;
    width: 100%;
}

.name{
    height: 48px;
    border: none;
    width: 100%;
    border-bottom: 1px solid #DBD8D7;
    color: #FF6B00 !important;
    margin-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 16px !important;
    font-weight: 400;
}

.email{
    height: 48px;
    border: none;
    width: 100%;
    border-bottom: 1px solid #DBD8D7;
    color: #FF6B00 !important;
    margin-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 16px !important;
    font-weight: 400;
}

.feedback{
    height: 114px;
    border: none;
    width: 100%;
    border-bottom: 1px solid #DBD8D7;
    color: #FF6B00 !important;
    margin-bottom: 20px;
    padding: 2%;
    font-size: 16px !important;
    font-weight: 400;
}

.name:hover, .email:hover, .feedback:hover{
    border-bottom: 3px solid #FF6B00;
}

.name:focus, .email:focus, .feedback:focus{
    outline:  #FF6B00;
    border: 2px solid #FF6B00;
}

.form-button{
    width: 131px;
    height: 48px;
    font-weight: 700;
    font-size: 17px !important;
    margin-bottom: 40px;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1%;
    padding-top: 15px;
    padding-bottom: 25px;
    width: 100%;
}
@media screen and (min-width: 769px) {
    .contact{
        display: flex;
    }

    .contact-par{
        width: 37%;
    }

    .contact-form{
        width: 57%;
        align-items: flex-start;
        margin-left: 5%;
    }

    .bottom{
    }
}