.text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    background-color: #1C1A19;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 120vh;
    background-image: url("/src/img/mheader.webp");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.white{color: #fff;}
.orange{color: #FF6B00;}

.socials{
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 1%;
}

.header{
    font-size:56px !important;
    font-weight: 400;
}

.header-sub{
    font-size: 32px !important;
    font-weight: 400;
    margin-top: 10px;
}

.text-container{
    padding-top: 15vh;
}

.header-paragraph{
    margin-top: 10px;
    font-size:16px ;
    font-weight: 400;
    width: 100%;
}


@media screen and (min-width: 769px) {
    .text-section{
        display: flex;
        flex-direction: row-reverse;
        padding: 5%;
    background-image: url("/src/img/header.webp");
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    }

    .socials{
        display: flex;
        flex-direction: column;
        width: 12%;
    }

    .header{
        font-size:72px !important;
    }

    .header-paragraph{
        font-size:20px !important;
        width: 50%;
    }
}