.navbar{
    background-color: #3e3c3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo{
    width: 40%;
    padding: 0.5%;
    margin: 0 5%;
}

.menu-img{
    width: 120%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(131deg) brightness(101%) contrast(102%);
}

.close-img{
    width: 10%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(131deg) brightness(101%) contrast(102%);
    position: fixed;
    right: 10px;
}
.hamburger-menu{
    margin-right: 5%;
}
.nav-ham-menu{
    display: none;
    margin-right: 5%;
}

.bar{
    margin-top: 75px !important;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bar li{
    padding: 2% 0;
    border-bottom: 1px solid #DBD8D7;
    width: 100%;
    text-align: initial;
}

.bar a{
    color: white;
    font-size: 32px !important;
    font-weight: 700;
}

.open{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #3c3a39;
    height: 100vh;
}
.links{
    display: none;
}

.links a{
    color: white;
    font-weight: 600;
    font-size: 16px !important;
}

.open{
    display: block
}

.mailto{
    width: 75% !important;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(131deg) brightness(101%) contrast(102%);
}

.nav-list:hover{
    color: #FF6B00;
    border-bottom: solid 1px #FF6B00;
}
@media screen and (min-width: 769px) {
    .navbar{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
    }

    .navbar img{
        width: 20%;
    }

    .links{
        display: flex;
        gap: 10%;
        width: 30%;
    }

    .links a{
        color: white;
    }

    .open{
        display: none;
    }
    .hamburger-menu{
        display: none;
    }
}