/* Existing shadow code */
/* Add a shadow effect to the projects */
.con {
    height: 50vh;
    background-size: cover;
    background-position: center;
    transition: box-shadow 0.3s ease;
    margin-bottom: 3vh;
  }
  
  /* Hide text and buttons by default */
  .overlay{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.541);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .detailsblock {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    color: white;
    margin: 1.5%;
  }
  
  .Acbutt {
    opacity: 1;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
  }

  .con:hover{
    display: block;
  }

  .con:hover .detailsblock {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .con:hover{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .works{
    padding: 5%;
  }

  .section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
  }

  .section-title h2{
    font-size: 40px !important;
    font-weight: 400;
  }

  .line{
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 2% 0;
  }
  .project-details{
    width: 90%;
    margin: 5%;
    padding: 4% 3%;
    background-color: white;
    border: solid 1px black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; /* Ensure it's above other content */
    opacity: 0;
    overflow-y: scroll;
    animation: details 1s;
  }

  @keyframes details {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .project-details.show-details {
    opacity: 1;
    transform: translateY(0);
  }

  .project-details-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
  }

  .project-details-head h2{
    font-weight: 700;
    font-size: 32px !important;
  }

  .seetech{
    background-color: rgba(255, 255, 255, 0.475);
    padding: 2%;
    margin-bottom: 2%;
  }

  .seetech p{
    font-size: 15px !important;
    font-weight: 500;
  }
  
  .Text2{
    font-size: 32px !important;
    font-weight: 400;
    margin-bottom: 2vh;
  }

  .description{
    font-size: 16px !important;
    font-weight: 400;
    margin-bottom: 2vh;
  }

  .pdtech{
    font-weight: 600;
    font-size: 13px !important;
    padding: 1% 2%;
    border: solid 1px black;
  }



  .languages{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-bottom: 3vh;
  }

  .detailsimage{
    width: 100% !important;
    margin-bottom: 3vh;
  }
  
  .selectdescription{
    font-size: 16px !important;
    font-weight: 400;
  }

  .project-links{
    display: flex;
    align-items: center;
    margin-top: 2vh;
    gap: 10%;
  }

  .project-links a{
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    gap: 10px;
  }
  @media screen and (min-width: 769px) {
    .projects-card{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .con{
      width: 32.5%;
    }

    .image-links{
      display: flex;
      justify-content: space-between;
    }

    .detailsimage{
      width: 40% !important;
      margin-right: 5%;
      height: 43vh;
      margin-bottom: 0;
    }

    .section-title{
      flex-direction: row;
      justify-content: space-between;
    }
  
    .line{
      width: 62%;
    }

    .detailsblock{
      margin: 3%;
    }
  }